{% if config.csp %}<meta http-equiv="Content-Security-Policy" content="{{ config.csp }}">{% endif %}
<link rel="stylesheet" media="screen" href="{{ config.url_stylesheet }}?v={{ config.resource_version }}">
{% if config.url_favicon %}<link rel="shortcut icon" href="{{ config.url_favicon }}">{% endif %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
{% if config.meta_keywords %}<meta name="keywords" content="{{ config.meta_keywords }}">{% endif %}
{% if config.default_stylesheet.1 != '' %}<link rel="stylesheet" type="text/css" id="stylesheet" href="{{ config.uri_stylesheets }}{{ config.default_stylesheet.1 }}?v={{ config.resource_version }}">{% endif %}
{% if config.font_awesome %}<link rel="stylesheet" href="{{ config.root }}{{ config.font_awesome_css }}?v={{ config.resource_version }}">{% endif %}
{% if config.country_flags_condensed %}<link rel="stylesheet" href="{{ config.root }}{{ config.country_flags_condensed_css }}?v={{ config.resource_version }}">{% endif %}
{% if not nojavascript %}
	{#
	   CSP-friendly bootstrap: page context (which board/page we are on, mod state, roots)
	   is passed to main.js via these data-* attributes instead of an inline <script>.
	   main.js reads them from document.currentScript.
	#}
	<script type="text/javascript"
		src="{{ config.url_javascript }}?v={{ config.resource_version }}"
		data-resource-version="{{ config.resource_version }}"
		data-config-root="{{ config.root }}"
		data-in-mod="{% if mod %}true{% else %}false{% endif %}"
		data-mod-root="{{ config.root }}{% if mod %}mod.php?/{% endif %}"
		data-active-page="{{ active_page|default('') }}"
		data-board="{{ board.uri|default(board|default('')) }}"
		data-thread="{{ thread.id|default('') }}"></script>
	{% if not config.additional_javascript_compile %}
	{% for javascript in config.additional_javascript %}<script type="text/javascript" src="{{ config.additional_javascript_url }}{{ javascript }}?v={{ config.resource_version }}"></script>{% endfor %}
	{% endif %}
	{% if mod %}
	<script type="text/javascript" src="/js/mod/mod_snippets.js?v={{ config.resource_version }}"></script>
	{% endif %}
{% endif %}
{% if config.captcha.provider == 'recaptcha' %}<script src="//www.recaptcha.net/recaptcha/api.js"></script>
<link rel="stylesheet" href="{{ config.root }}stylesheets/recaptcha.css?v={{ config.resource_version }}">{% endif %}
{% if config.captcha.provider.hcaptcha %}
<script src="https://js.hcaptcha.com/1/api.js" async defer></script>
{% endif %}
